div {
    background-color: #A8D1D1;
    padding: 1rem;
}

.song {
    background-color: #FD8A8A;
    margin: 16px;
    padding: 8px;
}

li {
    list-style-type: none;
}

#item2 {
    font-weight: bold;
}

.song:hover {
    background-color: #F1F785;
}